@page "/ubicaciones"
<PageTitle>Ubicaciones</PageTitle>

<h3>Ubicaciones</h3>

<iframe src="https://www.google.com/maps/d/embed?mid=1Upf_aWg0yj-5AmqwkJvULo7GV4dmbsI&ehbc=2E312F" width="100%" height="500"></iframe>

@code {

}
