@page "/tarjeta"
@inject HttpClient HttpClient
@using System.Net.Http.Json
@using UBook.Data
@using System.Globalization;
@using Newtonsoft.Json;
@inject NavigationManager oMenu
@inject IJSRuntime JSRuntime
@using System;

<div class="container">
    <img src="Imagenes/ubook.png" style="width:150px" />
    <h2>Info. Tarjeta</h2>
    <div class="">
        <div class="row">
            <div class="col-md-8">
                <div class="mb-3" style="text-align:left">
                    <label for="nombre" class="form-label">Nombre del Titular</label>
                    <input type="text" class="form-control"  aria-describedby="emailHelp" style="background: #ececec;">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3" style="text-align:left">
                    <label for="nombre" class="form-label">Fecha de venc.</label>
                    <input type="date" class="form-control"  aria-describedby="emailHelp" style="background: #ececec;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="mb-3" style="text-align:left">
                    <label for="nombre" class="form-label">Número de la Tarjeta</label>
                    <input type="text" class="form-control"  aria-describedby="emailHelp" style="background: #ececec;">
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3" style="text-align:left">
                    <label for="nombre" class="form-label">CVV</label>
                    <input type="text" class="form-control"  aria-describedby="emailHelp" style="background: #ececec;">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="mb-3" style="text-align:left">
                    <label for="nombre" class="form-label">Saldo</label>
                    <input type="number" class="form-control" aria-describedby="emailHelp" style="background: #ececec;">
                </div>
            </div>
        </div>
    </div>
    <img src="imagenes/tarjetas-credito-logos.png" style="width:150px" />
    <div class="row">
        <button class="claseb btn btn-warning col">Editar</button>
        <button class="claseb btn btn-danger col">Eliminar</button>
        <button class="claseb btn btn-secondary col">Cancelar</button>
        <button class="claseb btn btn-primary col">Guardar</button>
    </div>
</div>

<style>
    .claseb{
        margin: 5px;
    }
</style>

@code{
    protected override async Task OnInitializedAsync()
    {
        var temp = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "user");
        if (temp != null)
        {
            
        }
        else
        {
            oMenu.NavigateTo("/notaccess");
        }
    }
}
